.app-container {
  .app-header {
    background-color: #defdfd;
    .btn {
      font-size: 25px !important;
      border-color: black;
      box-shadow: none;
      float: right;
    }
  }
}

.app-home {
  .app-filter {
    .app-filter-title {
      color: #68ffbc;
    }
  }

  .app-order {
    a {
      font-weight: bold;
      color: black;
    }
  }

  .app-overview {
    background-color: #defdfd;
    border-radius: 2rem;
    h3 {
      color: #68ffbc;
    }
    .app-overview-box {
      background-color: white;
    }
  }
}

.app-order-details {
  .app-personal-info {
    padding-top: 5rem;
    padding-inline: 17rem;
    .card {
      padding-inline: 2rem;
      display: flex;
      justify-content: center;
      align-items: stretch;
      height: 18rem;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      .app-avatar {
        text-align: center;
      }
      .app-name {
        font-weight: bold;
        font-size: 25px;
        color: black;
      }

      .app-title {
        font-weight: bold;
        font-size: 20px;
        color: black;
      }
      .col {
        font-weight: bold;
        color: lightslategray;
      }
    }
  }

  .app-orders {
    padding-top: 3rem;
    padding-inline: 5rem;
    padding-bottom: 3rem;
    .col {
      margin-top: 2rem;
    }
    .card {
      height: 27rem;
      border: 2px solid #68ffbc;
      .app-timeline-v {
        .col {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          hr {
            border-top: 1px dashed black;
            width: 100%;
          }
          span {
            padding-top: 1rem;
            font-weight: bold;
          }
        }
      }
    }
  }
}

.app-dropdown {
  border-color: #68ffbc;
  border-style: solid;
  border-width: 1px;
  .btn.focus,
  .btn:focus {
    box-shadow: none;
  }
}
